.App {
  background-color: #30475e;
  height: 100vh;

  .title {
    margin: 0 0;
    padding: 2%;
    text-align: center;
    color: #c1a57b;
  }

  .container {
    display: flex;

    .each {
      width: 45%;
      height: 650px;
      text-align: center;
      margin: auto;
      border: solid #222831 5px;
      background-color: #ececec;
    }
  }

  .todo {
    display: flex;
    flex-flow: row wrap;

    .todoList {
      margin: auto;
      width: 45%;
      height: 450px;
    }

    .todoInputs {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 75%;
      height: 100px;
      margin: 2% auto;
    }

    .todoInsert {
      width: 75%;
      height: 35px;
      margin: 0 auto;
      font-size: 22px;
    }

    .todoAdd {
      height: 50px;
      width: 25%;
      margin: auto 0;
      background-color: green;
      border: none;
      font-weight: bold;
      border-radius: 7px;
    }

    .todoRemove {
      height: 50px;
      width: 25%;
      margin: auto 0;
      background-color: red;
      border: none;
      font-weight: bold;
      border-radius: 7px;
    }
  }
}
